@import url("https://fonts.googleapis.com/css?family=Silkscreen");

/* When window is at a certain pixel width or below that width, 
use this css on Navbar instead of normal Navbar css code */
@media only screen and (max-width: 635px) {
    .Navbar {
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
    }
}

.Navbar {
    background-color: #181a1d;
    padding-top: 35px;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.Title {
    color: rgb(167, 200, 238);
    font-family: 'Silkscreen';
    font-size: 23px;
    text-align: center;
}

.Logo {
    width: 89px;
    height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.App-links {
    width: 163.88px;
    font-family: "Silkscreen";
    text-align: center;
    float: right;
    background-color: #181a1d;
    list-style-type: none;
    padding-inline-start: 0px;
}

.link1 {
    color: #fdba93;
    font-size: 20px;
}

.link2 {
    color: #fdba93;
    font-size: 20px;
}

.link3 {
    color: #fdba93;
    font-size: 20px;
}