@import url("https://fonts.googleapis.com/css?family=Silkscreen");

/* When window is at a certain pixel width or below that width, 
use this css on Navbar instead of normal Navbar css code */
@media only screen and (max-width: 770px) {
    .Navbar {
        flex-direction: column;
        align-content: center;
        align-items: center;
        flex-wrap: nowrap;
        text-align: center;
    }
}

@keyframes nav-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Title-Color {
    0% {
        color: rgb(167, 200, 238);
    }

    25% {
        color: #cd98ff;
    }

    50% {
        color: #fdba93;
    }

    75% {
        color: #cd98ff;
    }

    100% {
        color: rgb(167, 200, 238);
    }
}

nav {
    animation: nav-load;
    opacity: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.Navbar {
    background-color: #181a1d;
    padding-top: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
}

.Title {
    color: rgb(167, 200, 238);
    font-family: 'Silkscreen';
    font-size: 27px;
    text-align: center;
    animation: Title-Color 4.5s infinite linear;
}

.Logo {
    width: 89px;
    height: 104px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s;
}

.Logo:hover {
    transform: scale(1.2);
}

.App-links {
    width: 192.38px;
    font-family: "Silkscreen";
    text-align: center;
    float: right;
    background-color: #181a1d;
    list-style-type: none;
    padding-inline-start: 0px;
}

.link1 {
    color: #fdba93;
    font-size: 23px;
}

.link2 {
    color: #fdba93;
    font-size: 23px;
}

.link3 {
    color: #fdba93;
    font-size: 23px;
}

/* ANIMATION FOR NAV BAR FALLING IN, DOESN'T EASE FOR SOME REASON
@keyframes nav-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Title-Color {
    0% {
        color: rgb(167, 200, 238);
    }

    33% {
        color: #cd98ff;
    }

    66% {
        color: #fdba93;
    }

    100% {
        color: rgb(167, 200, 238);
    }
}

nav {
    animation: nav-load 800ms ease-in;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

*/