@import url('https://fonts.googleapis.com/css?family=Silkscreen');

.Navbar-title {
    background-color: #181a1d;
}

.Title {
    color: #f1f8ff;
    font-family: 'Silkscreen';
    padding-left: 25px;
}

.App-links {
    font-family: 'Silkscreen';
    float: right;
    color: pink;
    padding-right: 25px;

}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(167, 200, 238);
    background-color: transparent;
    text-decoration: underline;
}