@import url("https://fonts.googleapis.com/css?family=Silkscreen");

@keyframes Footer-Fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Footer {
    font-family: 'Silkscreen';
    font-size: calc(10px + 2vmin);
    text-align: center;
    /* padding: 1vh; */
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: #181a1d;
    color: white;
    /*height: 100vh;*/
    animation: Footer-Fadein;
    opacity: 1;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.Creator-tag1 {
    font-size: 25px;
}

.Creator-tag2 {
    font-size: 20px;
    color: white;
    text-align: center;
}

.Hyperlink-Space {
    padding-bottom: 1rem;
}

a {
    transition: transform 0.2s;
    display: inline-block;
}

a:visited {
    color: #fdba93;
}

a:link {
    text-decoration: none;
    color: #fdba93;
}

a:hover {
    color: #fd7979;
    background-color: transparent;
    text-decoration: underline;
    transform: scale(1.2);
}