@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.Footer {
    font-family: 'Ubuntu';
    font-size: calc(10px + 2vmin);
    text-align: center;
    color: white;
    padding: 5vh;
    background-color: #181a1d;
}