@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.Footer {
    font-family: 'Ubuntu';
    font-size: calc(10px + 2vmin);
    text-align: center;
    padding: 3vh;
    background-color: #181a1d;
    color: white;
}

.Creator-tag1 {
    font-size: 25px;
    color: white;
}

.Creator-tag2 {
    font-size: 20px;
    color: white;
}

a:visited {
    color: #fdba93;
}

a:link {
    text-decoration: none;
    color: #fdba93;
}

a:hover {
    color: #fd7979;
    background-color: transparent;
    text-decoration: underline;
}