@import url('https://fonts.googleapis.com/css?family=Silkscreen');

.Hobbies-Title {
    font-weight: bold;
    font-family: 'Silkscreen';
    font-size: 34px;
}

iframe {
    border: 0;
}

video {
    min-height: 500px;
    max-height: 500px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}