@keyframes Portfolio-Fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.App {
  min-width: 262px;
  height: 100%;
}

.App-header {
  background-color: #181a1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
}

.Portfolio {
  margin: 2em;
  margin-left: 11em;
  margin-right: 11em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: Portfolio-Fadein;
  opacity: 1;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  /* Use max-width line below if adding more projects is still scaling width
     weirdly, take out margin left and right from above if that's the case 
    */
  /*max-width: 75%;*/
}

.Portfolio-column1 {
  padding: 20px;
  background-color: rgb(167, 200, 238);
  float: left;
  text-align: center;
  margin-bottom: auto;
  flex: 1;
}

.Portfolio-column2 {
  padding: 20px;
  background-color: #fdba93;
  float: left;
  text-align: center;
  margin-bottom: auto;
  flex: 1;
}