.App-header {
  background-color: #181a1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.Portfolio {
  margin: 3em;
}

.Projects {
  padding: 25px;
  background-color: #cdd6de;
  float: left;
  width: 100%;
  text-decoration: underline;
}

.Hobbies {
  padding: 25px;
  background-color: #F8D4D4;
  float: left;
  width: 100%;
  text-decoration: underline;
}