.App-header {
  background-color: #181a1d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  color: white;
}

.Portfolio {
  margin: 2em;
}

.Portfolio-column1 {
  padding: 20px;
  background-color: #cdd6de;
  float: left;
  text-align: center;
}

.Portfolio-column2 {
  padding: 20px;
  background-color: #F8D4D4;
  float: left;
  text-align: center;
}